@charset "utf-8";

// Bulma customization
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$red: #d0451b;
$container-offset: (2 * $gap);
$size-normal: 0.75rem;
$size-6: 0.75rem;
//$size-7: 0.7rem;

// 3. Set the derived variables
//$danger: $red;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/helpers/_all";
@import "../node_modules/bulma/sass/form/_all";

@import "../node_modules/bulma/sass/elements/box";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/icon";
@import "../node_modules/bulma/sass/elements/other";
@import "../node_modules/bulma/sass/elements/title";
@import "../node_modules/bulma/sass/components/level";
@import "../node_modules/bulma/sass/components/message";
@import "../node_modules/bulma/sass/components/modal";
@import "../node_modules/bulma/sass/grid/columns";
@import "../node_modules/bulma/sass/grid/tiles";
@import "../node_modules/bulma/sass/layout/hero";
@import "../node_modules/bulma/sass/layout/section";

// Own stuff

//form {
//  display: inline-block;
//}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.w-auto {
  width: auto;
}

.column {
  padding: 0.1rem;
}

.createButton, .deleteButton {
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

.box {
  padding: 0.45rem;
}

#formcolumn {
  @include from($tablet) {
    margin: 0 auto;
  }
}

form fieldset {
  border-radius: 8px;
  border-style: dashed;
  border-width: thin;
  border-color: lightgray;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
}

fieldset fieldset {
  border-radius: 0px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}

fieldset > legend {
  padding: 0 0.25rem;
}

fieldset div {
  background-color:inherit;
}

.field:not(:last-child) {
  margin-bottom: 0.4rem;
}

.label-on-border {
  position: relative;
}

label.on-border {
  position:absolute;
  top: -12px;
  left: 8px;
  z-index: 10;
  background-color: inherit;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

label.is-small {
  font-size: $size-small;
}

.file-option {
  background-color: whitesmoke;
  color: #4a4a4a;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-radius: 4px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  padding-bottom: calc(0.5em - 1px);
  white-space: nowrap;
}

.modal-content {
  background: #FFF;
  border-radius: 8px;
}

#errorModalContent, #descriptionModalContent {
  width: auto;
}
