doctype html
html(lang="pl-PL")
  head
    title Strona w przebudowie
    - const prefix = appPrefix ? `/${appPrefix}` : "";
    link(type='text/css', rel='stylesheet', href=prefix+'/css/maintenance.css')
  body
    h1 Strona w przebudowie
    p Zapraszamy wkrótce
    p
      a(href="https://wykop.pl/tag/barylkakrwi") #barylkakrwi