doctype html
html(lang="pl-PL")
  head
    title #{title}
    link(type='text/css', rel='stylesheet', href='/css/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(name="description" content="Formularz dodawania wpisów z donacjami krwi do wykopowej akcji Baryłka Krwi: https://wykop.pl/tag/wpisy/barylkakrwi")
    script(defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js")
  body
    main
      div
        p Przepraszamy, twoja przeglądarka nie jest obecnie wspierana. Wspierane przeglądarki: Chrome, Edge, Firefox, Opera.
